.container{
  box-sizing: border-box;/*considerar o padding*/
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;/*alinhar ao centro sempre*/
  margin-right: auto;
}