.fonte-rb-gg{
  font: 700 3rem/1.124 'roboto', sans-serif;
}

.fonte-pp-g{
  font: 600 2.5rem/1.24 'poppins', sans-serif;
}

.fonte-rb-m{
  font: 400 0.8rem/1.2 'roboto', sans-serif;
}

.fonte-pp-m{
  font: 400 1.5rem/1.2 'poppins', sans-serif;
}


.font-rb-p{
  font: 400 0.8rem/1.2 'roboto', sans-serif;
}

.fonte-rb-pp{
  font: 400 0.6rem/1.2 'roboto', sans-serif;
}

.fonte-rb-px-700{
  font: 700 1.125rem/1.2 'roboto', sans-serif
}

.fonte-rb-px-400{
  font: 400 1.125rem/1.2 'roboto', sans-serif
}

.font-pp-p{
  font: 400 1rem/1.2 'poppins', sans-serif;
}

